# Project related stuff
ENABLE_MONITORING=true

# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5174
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Full Stack FastAPI Project"
STACK_NAME=full-stack-fastapi-project

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=MY_COOL_SECRET_KEY

# Auth0 configuration
AUTH0_DOMAIN=fabraham.eu.auth0.com
AUTH0_AUDIENCE=https://webpage-comparer.fabraham.dev

# Auth0 Management API (Machine-to-Machine App credentials)
# Create a Machine-to-Machine app in Auth0 Dashboard and authorize it for Management API
AUTH0_CLIENT_ID=AUTH0_CLIENT_ID
AUTH0_CLIENT_SECRET=AUTH_CLIENT_SECRET

# Emails
SMTP_HOST=smtp.gmail.com
SMTP_USER=YOUR_SMTP_USER
SMTP_PASSWORD=YOUR_SMTP_PASSWORD
EMAILS_FROM_EMAIL=FROM_EMAIL
SMTP_TLS=True
SMTP_SSL=True
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=8432
POSTGRES_DB=app
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

SENTRY_DSN=https://your-sentry-dsn

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
